# This is Git's per-user configuration file.
[user]
	name = muddasanidevi
	email = devimuddasanivk@gmail.com
# Please adapt and uncomment the following lines:
#	name =muddasanidevi@gmail.com
#	email =devimuddasanivk@gmail.com
